.nav {
    height: 55px;
    background: #292b2c;
    display: flex;
    align-items: center;
    justify-content: right;
}

#brand {
    position: absolute;
    margin-top: 10px;
    margin-left: 5%;
    color: #fff;
}

.active {
    background: #fff;
    color: #292b2c !important;
}

.nav-item a:hover {
    color: #fff;
    text-decoration: underline;
}

.nav ul {
    list-style-type: none;
}

.nav li {
    margin: 0px 20px;
    padding: 15px 10px;
    float: left;
}

.nav a {
    color: #fff;
    text-decoration: none;
}