.nav {
    height: 55px;
    background: #434343;
    display: flex;
    align-items: center;
    justify-content: right;
}

#brand {
    position: absolute;
    margin-top: 5px;
    margin-left: 5%;
    color: #fff;
}

.active {
    background: #F0F2F0;
    color: #434343 !important;
}

.nav-item a:hover {
    color: #F0F2F0;
    text-decoration: underline;
}

.nav ul {
    list-style-type: none;
}

.nav li {
    margin: 5px 20px;
    padding: 3px 10px;
    float: left;
}

.nav a {
    color: #F0F2F0;
    text-decoration: none;
}