img {
    height: 40%;
    width: 40%;
}

#image {
    float: left;
    margin-right: 5%;
}

#handshake {
    width:80%;
    margin-bottom: 10%;
}

#lightbulb {
    width: 80%;
    margin-bottom: 10%;
}

#earth {
    width: 60%;
    height: 30%;
    margin-top: 10%;
}

#text {
    margin-top: 2%;
    margin-right: 5%;
}

#team {
    margin-top: 10%;
    margin-left: 5%;
}

#card3{ 
    width: 60%;
    height: 60%;
}

#card2 {
    height: 65%;
    width: 65%;
}