.cover {
    background: url(./computer.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.title {
    color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    margin: 0 20%;
}

.closed {
    display: none;
}  

.form-inline {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results ul li {
    list-style-type: none;
}