.title {
    color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px
}

.container .row {
    margin: 0 auto;
    width: 500px;
}

#modal {
    top: 47.30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    position: absolute;
    width: 500px;
    max-width: 100%;
    height: 700px;
    max-height: 100%;
    z-index: 1000;
    background: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.closed {
    display: none;
}  

.form-inline {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 0 20px; 
}

#results {
    width: 100%;
}

#results ul {
    width: 100%;
}

#results ul li {
    list-style-type: none;
    margin: 0 10%;
}

#results ul li .card {
    list-style-type: none;
    width: 100%;
}

#results li .destroy {
    display: none;
    position: absolute;
    background: transparent;
    border: transparent;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 22px;
    color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
  
#results li .destroy:hover {
    text-shadow: 0 0 1px #fff,
            0 0 10px rgba(199, 107, 107, 0.8);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
  
#results li .destroy:after {
    content: '✖';
    color: #fff;
}

#results li:hover .destroy {
    display: block;
}

.editing {
    display: none;
}

#selectBtn {
    float: right;
}

#selectBtn:active {
    color: DodgerBlue;
}

#summaryBtn {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
}